.thumbnail{
    overflow: hidden;
    height: 37vh;
}

.img_div{
    overflow: hidden;
    background-color: black;
    height: 30vh;
}

.thumb_img{
    width: 100%;
    transform: scale(1);
    transition: linear;
    transition-duration: 0.1s;
}

.thumb_img:hover{
    transform: scale(1.1);
    transition: linear;
    transition-duration: 0.1s;
    opacity: 0.4;
}

.cap{
    background-color: white;
    h4{
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
    }
}