.thumbnail{
    overflow: hidden;
}

.img_div{
    overflow: hidden;
    background-color: black;
}

.thumb_img{
    width: 100%;
    transform: scale(1);
    transition: linear;
    transition-duration: 0.1s;
}

.thumb_img:hover{
    transform: scale(1.1);
    transition: linear;
    transition-duration: 0.1s;
    opacity: 0.4;
}

.cap{
    background-color: white;
}